@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --bg-main: #ffffff;
    --bg-secondary: #f7f4ec;
    --bg-card: #ffffff;
    --bg-herobtn: #fff;
    --bg-cabang: #d6cfbe;
    --text-main: #111;
    --text-secondary: #555;
    --text-third: rgb(230, 230, 230);
    --text-extra: #fff;
    --accent: #000000;
    --text-hero: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'montserrat';
    scroll-behavior: smooth;
}

#about,
#service,
#testimoni,
#cabang {
    scroll-margin-top: 110px;
}

body.dark {
    --bg-main: #0f0f0f;
    --bg-secondary: #1a1a1a;
    --bg-card: #1f1f1f;
    --bg-herobtn: #000;
    --bg-cabang: #292828;
    --text-main: #f1f1f1;
    --text-secondary: #aaa;
    --text-hero: #fff;
    --accent: #000000;
}

body {
    background-color: var(--bg-main);
}

html,
body {
    overflow-x: hidden;
}

/* Header And Navbar */
.h-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    width: 100%;
    height: 94px;
    box-shadow: 2px 6px 2px 2px var(--bg-card);
    z-index: 10;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 7px 5px;
}

.nav-bar a {
    color: var(--text-main);
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 23px;
    transition: text-decoration 0.7s ease;
}

.nav-list a:hover {
    text-decoration: underline;
    text-decoration-color: #dcdcdc;
    text-underline-offset: 10px;
}

.contact-btn a {
    color: var(--bg-card);
}

.meme-btn {
    background-color: var(--text-main);
    padding: 12px;
    border-radius: 30px;
    font-weight: 800;
    transition: box-shadow 0.7s ease;
}

.meme-btn:hover {
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.425);
}

.nav-close {
    display: none;
}

.nav-toggle {
    display: none;
}

.dark-btn {
    background: none;
    border: none;
    color: var(--text-secondary);
    font-size: 20px;
    cursor: pointer;
    display: block;
}


/* Hero */
.hero-fade {
  padding: 120px 20px 80px;
  text-align: center;
  background: var(--bg-secondary);
  color: var(--text-main);
    display: flex;
  justify-content: center;
}

.hero-fade .hero-inner {
  max-width: 900px;
  margin: auto;
    width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.hero-fade .hero-logo {
  width: 120px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.hero-fade h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.hero-fade .cta-btn {
  margin-top: 15px;
  padding: 12px 26px;
  border-radius: 30px;
  border: none;
  background: var(--text-hero);
  color: var(--bg-main);
  cursor: pointer;
}
.hero-fade .cta-btn:hover{
        text-decoration: underline;
    text-decoration-color: var(--bg-main );
    text-underline-offset: 10px;
}
.hero-fade .ba-label {
  margin-top: 25px;
  font-size: 14px;
  color: var(--text-secondary);
}

/* SLIDER */
.hero-fade .fade-slider {
 position: relative;

  width: 100%;
  max-width: 1000px;

  height: 380px;

  margin:  0 auto;
  overflow: hidden;

  border-radius: 20px;
}

/* IMAGE */
.hero-fade .fade-img {
    margin-top: 10px;
   position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  background: var(--bg-main);
    border-radius: 10px;
  opacity: 0;
  transition: opacity 1s ease;
}

/* ACTIVE */
.hero-fade .fade-img.active {
    z-index: 1;
  opacity: 1;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero-fade .fade-slider {
    height: 280px;
  }
}


/* Services */

.service {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: var(--bg-main);
    padding: 20px;
    color: var(--text-main);
    top: 0;
    left: 0;
}

.layanan-h1 {
    margin-top: 20px;
    font-size: 44px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 30px;
    align-items: start;
}

.card {
    border-radius: 16px;
    overflow: hidden;
    background: var(--bg-card);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.card-img img {
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #000000;
}

.card-content p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-secondary);
}

.card-content h2 {
    margin-top: 15px;
    font-weight: 400;
    color: var(--accent);
    cursor: pointer;
}

.ask {
    text-decoration: none;
    color: #fff;
    background-color: var(--accent);
    padding: 4px;
    border-radius: 30px;
    transition: background-color 0.7s ease;
}

.ask:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.card-extra {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background: #1a1919;
    color: var(--text-extra);
}

.card.active .card-extra {
    max-height: 300px;
}

.price-list {
    padding: 15px 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

.bi-arrow-up {
    display: none;
}

.card.active .bi-arrow-up {
    display: inline;
}

.card.active .bi-arrow-down {
    display: none;
}

.oneday{
    padding: 12px;
    border-radius: 30px;
    outline: 1px solid var(--text-hero);
    margin-top: 20px;
}
.oneday span{
    font-weight: 200;
}

/* Testimonials */


.testimoni {
    overflow: hidden;
    padding: 40px 0;
    position: relative;
    background-color: var(--bg-secondary);
}

.testimoni h1 {
    text-align: center;
    color: var(--text-main);
}

.slide-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.card {
    min-width: 250px;
    margin-right: 20px;
    padding: 20px;
    background: white;
    border-top-left-radius: none;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.707);
}

.slide-track:hover {
    animation-play-state: paused;
}

.testimoni::before,
.testimoni::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
}

.stars {
    color: gold;
    margin: 5px 0;
}

.testimoni::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), transparent);
}

.testimoni::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), transparent);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Cabang */

.cabang {
    background-color: var(--bg-cabang);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.cabang-h1 {
    color: var(--text-extra);
}

.cabang-container {
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin: 10px;
}

.card-location {
    background-color: white;
    border-radius: 3px;
    outline: 4px solid var(--text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px;
    gap: 20px;
    width: 320px;
}

.card-location span {
    font-size: 20px;
}

.card-btn-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-btn-container button {
    padding: 10px;
    width: 260px;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.card-btn-container button:hover {
    outline: 1px solid orangered;
}

/* More info */

.info {
    background: var(--bg-main);
    color: var(--text-main);
    text-align: center;
    padding: 60px 20px;
}

.info h1 {
    margin-bottom: 30px;
    font-size: 28px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    border-radius: 50%;

    background: #1f1f1f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    transition: 0.3s;
}

.social.ig:hover {
    box-shadow: 0 0 20px rgba(220, 39, 67, 0.6);
}

.social.wa:hover {
    box-shadow: 0 0 20px rgba(37, 211, 102, 0.6);
}

.sub {
    color: #888;
    margin-bottom: 20px;
}

.bi-whatsapp {
    color: #25D366;
    cursor: pointer;
}

.bi-instagram {
    cursor: pointer;
    background: linear-gradient(45deg,
            #f09433,
            #e6683c,
            #dc2743,
            #cc2366,
            #bc1888);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Footer */

.footer {
    background: var(--bg-secondary);
    color: var(--text-main);
    padding: 20px 10px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit {
    font-size: 14px;
}

.credit span {
    color: var(--text-main);
    font-weight: 500;
}

.github {
    font-size: 22px;
    color: var(--text-secondary);
    transition: 0.3s;
}

.github:hover {
    color: var(--text-main);
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.footer {
    border-top: 1px solid #222;

}


@media screen and (max-width: 1008px) {
    .nav-toggle {
        display: block;
        position: static;
        background: none;
        color: var(--text-main);
        padding: 7px;
        border: none;
        font-size: 33px;
        cursor: pointer;
    }

    .nav-list {
        position: fixed;
        flex-direction: column;
        background-color: var(--bg-main);
        height: 100%;
        width: 70%;
        right: -23000px;
        transition: 0.2s ease-in-out;
        gap: 30px;
    }

    .nav-list a {
        font-size: 18px;
        padding: 8px;
    }

    .nav-close {
        display: block;
        color: var(--text-main);
        background: none;
        border: none;
        font-size: 33px;
        cursor: pointer;
    }

    /* hero */
    .hero img {
        width: 45%;
        margin-top: 50px;
    }

    .hero p {
        font-size: 15px;
    }

    .service {
        height: 70%;
    }

    /* service */
    .service-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }

    .card {
        width: 90%;
    }
    .oneday h1{
        font-size: 18px;
    }

    /* Testimonials */
    .slide-track {
        width: min-content;
    }

    /* Cabang */
    .cabang {
        height: 1300px;
    }
    .cabang-container{
        display: grid;
        grid-template-columns: minmax(auto-fit, 230px, 1fr);
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .hero img{
        width: 30%;
        margin-top: 70px;
    }
}
@media screen and (min-width: 1280px) {
    .hero img{
        width: 20%;
        margin-top: 70px;
    }
}
/* MOBILE */
@media (max-width: 768px) {
  .book {
    width: 250px;
    height: 320px;
    margin-right: 230px;
  }
}


.show-menu {
    right: 0;
}